@font-face {
     font-family: "Disney Heroic";
     src: url('font/DisneyHeroic.ttf');
}
@keyframes fadein {
  	from {
    	opacity: 0;
  	}
	to {
    	opacity: 1;
  }
}
body{
	animation-duration: 3s;
  	animation-name: fadein;
	font-family: "Disney Heroic";
	background-image: radial-gradient(white 5%, darkgray 100%);
}
img{
	width: 100vw;
	max-width: 1000px;
}
.menu{
	width: 100vw;
	height: 20px;
/*	background-color: rgb(60,60,60); */
	background-image: url("../img/menu.png");
	background-size: 100vw 20px;
	background-repeat: no-repeat;
}


.hits{
	padding: 5px;
	background-color: black;
	color: white;
	border: 1px solid black;
	border-radius: 10px;
	font-weight: bold;
	cursor: default;
}
.git a{
	padding: 5px;
	text-decoration: none;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
	transition: all 1s;
}
.git a:hover{
	color: white;
	background-color: black;
	transition: all 1s;
}
.down a{
	padding: 5px;
	text-decoration: none;
	border: 1px solid black;
	border-radius: 5px;
	color: black;
	transition: all 1s;
	background-color: lightgreen;
	padding: 5px;
}
.down a:hover{
	color:white;
	background-color: red;
	transition: all 1s;
}
.footer a{
	text-decoration: none;
	color: black;
}

/* ChatBot da página */

#chat{
	right: 0;
	bottom: -450px;
	position: fixed;
	width: 500px;
	height: 500px;
	background-color: rgb(0,0,0,0.6);
	border-radius: 20px 0 0 0;
	transition: bottom 3s;
}